* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	color: red;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 175%;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h2 {
	text-align: center;
	color: blue;
	font-size: 125%;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
	text-align: justify;
	margin-top: 40px;
	padding: 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#title1 {
	background-color: lightgreen;
}
#title2 {
	background-color: lightyellow;
}
#title3 {
	background-color: lightblue;
}
.title {
	width: 40%;
	border: 1px solid black;
	padding: 5px;
	position: absolute;
	top: 0;
	right: 0;
}
div > section {
	background-color: lightgray;
	border: 1px solid black;
	position: relative;
	margin-bottom: 20px;
	padding: 0;
}
.wrapper {
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 992px) {
	div > section {
		width: 32%;
		float: left;
		margin-right: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#box1, #box2 {
		width: 49%;
	}
	#box1 {
		float: left;
		margin-right: 10px;
	}
	#box2 {
		float: right;
	}
	#box3 {
		width: 100%;
		clear: both;
	}
}
